@import "../../../styles";
.prezly-payment-wizard {
  width: 300px;
  height: 300px;
  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: @gray-light;
    cursor: pointer;
  }
}
