@card-spacing: 15px;
.prezly-listview {
  display: block;
  background-color: #eeeeee;
  &__card-container {
    padding-top: @card-spacing;
    padding-bottom: @card-spacing;
  }
  &__cards {
    max-width: 1000px;
    margin: @card-spacing;
    padding: 0;
  }
}