@card-spacing: 15px;
.prezly-listview {
  display: block;
  padding: @card-spacing;
  max-width: 922px;
  &__header {
    display: flex;
  }
  &__header-helper {
    flex-grow: 1;
  }
  &__card-container {
    padding-top: @card-spacing;
    padding-bottom: @card-spacing;
  }
  &__cards {
    padding: 0;
  }
  &__paginator {
    text-align: center;
  }
}
