<span class="prezly-paginator">
  <span class="glyphicon glyphicon-arrow-left prezly-paginator__button" (click)="leftClicked()" *ngIf="from > 1"></span>
  <span *ngIf="from > 1">
    ...
  </span>
  <span *ngFor="let page of pages" >
    <span *ngIf="page===actualPage" class="prezly-paginator__actual-page">{{page}}</span>
    <span *ngIf="page!==actualPage" class="prezly-paginator__button" (click)="onPageClicked(page)">{{page}}</span>

  </span>
  <span *ngIf="to < pageCount">
    ...
  </span>
  <span class="glyphicon glyphicon-arrow-right prezly-paginator__button" (click)="rightClicked()" *ngIf="actualPage !== pageCount"></span>
</span>
